<html ng-app="angDemo">
<head>
    <title>Angular demo</title>
   
</head>
<body class="container">
    <div ng-controller="anController">
        <br>
        <div>
            {{countdown * countdown}}
        </div>
        <form name="searchUser" ng-submit="search(username)">
            <input type="search" required placeholder="search" ng-model="username" />
            <input type="submit" value="Search" />
        </form>
        <input type="button" class="btn btn-primary" value="Add New Employee" ng-click="addNewEmployee()" />
    </div>
</body>
</html>
<script src="Scripts/angular.min.js"></script>
<script src="anController.js"></script>